
  <%= form_with(model: @category, local: true) do |form| %>
    <% if @category.errors.any? %>
        <h2><%= pluralize(@category.errors.count, 'error') %> prohibited this category from being saved:</h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

      <%= form.label :name %>
      <br></br>
      <%= form.text_field :name %>

      <%= form.label :description %>
      <br></br>
      <%= form.text_area :description %>



    <%= form.submit %>
    <%=  link_to 'Back', categories_path %>
  <% end %>
